name: Build docker image and publish to lambda

permissions:
  id-token: write
  contents: read

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    name: "Test, build docker image and deploy to AWS Lambda"
    runs-on: ubuntu-latest
    steps:

    - name: Checkout the code
      uses: actions/checkout@v5

    - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.25

    - name: Run tests
      run: |
        make test

#    - name: Configure AWS Credentials
#      uses: aws-actions/configure-aws-credentials@v4.3.1
#      with:
#        aws-region: eu-central-1
#        role-to-assume: arn:aws:iam::513532022998:role/gh-actions-role
#        role-session-name: gh-actions-session
#
#    - name: Login to Amazon ECR
#      id: login-ecr
#      uses: aws-actions/amazon-ecr-login@v1
#
#    - name: Build Docker Image 
#      id: build-image
#      env:
#        IMAGE_TAG: "513532022998.dkr.ecr.eu-central-1.amazonaws.com/wind-alert:latest"
#      run: |
#        docker buildx build --platform linux/amd64 --provenance=false -t ${IMAGE_TAG} .
#        docker push ${IMAGE_TAG}
#        echo "image=$IMAGE_TAG" >> $GITHUB_OUTPUT
#
#    - name: Deploy Lambda function with container image
#      uses: aws-actions/aws-lambda-deploy@v1.1.0
#      with:
#        function-name: wind-alert
#        package-type: Image  
#        image-uri: ${{ steps.build-image.outputs.image }}  # ECR image URI from previous step
#        role: arn:aws:iam::513532022998:role/wind-alert  # IAM execution role for Lambda
